<!DOCTYPE html>
<html>
<head>
	<title>Google Dino-4 wheeler</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='home.css')}}">
	<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Rajdhani:wght@600&family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
	<nav>
		<div class="menu-icon">
			<i class="fa fa-bars fa-2x"><img id="logo" src="https://timesofindia.indiatimes.com/thumb/msid-70357330,imgsize-53996,width-400,resizemode-4/70357330.jpg"></i>
		</div>
	<div>
		<ul>
				<li><a href="home.html">home</a></li>
		</ul>
	</div>
	</nav>
	<h1>4 Wheeler</h1>
	<hr>
	<div>
		<img src="https://hips.hearstapps.com/hmg-prod/amv-prod-cad-assets/images/12q3/463432/2013-audi-r8-news-car-and-driver-photo-466646-s-original.jpg" alt="Audi R8 car">
	</div>
	<p class="content">Want to visit or modify it??<br>
	Select accordingly.</p>
	<button class="buttons"><a href="4_wheeler_visit.html">Visit</a></button>
	<button class="buttons"><a href="add.html">add</a></button>
	<button class="buttons"><a href="Data.html">Data Modify</a></button>
</body>